<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>buzz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>buzzPlayground-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C5162F651D73385800BB5596</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C54DA4FD1D59D5E000A82DC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C54DA5111D59D5E000A82DC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C54DA51C1D59D5E000A82DC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C598EB761D7060F2000C9EF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
